# Supabase config
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-anon-key

# Oracle Cloud config (Nếu cần direct access)
ORACLE_CLOUD_URL=

# Cloudflare R2 config
R2_ENDPOINT=
R2_ACCESS_KEY=
R2_SECRET_KEY=

# OpenStreetMap config
OSM_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
